<!DOCTYPE html>
<html xmlns = "http://www.w3.org/1999/xhtml" xmlns:th = "http://www.thymeleaf.org"
      xmlns:sec = "http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <link href="/css/login.css" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap" rel="stylesheet">
    <title>Administrator</title>
</head>
<body>
<div>
<h1> Welcome, Admin. </h1>
<button type="button" onclick="window.location.href = '/admin/view-requests';"> View Requests </button>
<button type="button" onclick="window.location.href = '/admin/process-requests';"> Process Requests </button>
<button type="button" onclick="window.location.href = '/';"> Home </button>
<button type="button" onclick="window.location.href = '/logout';"> Sign Out </button>
</div>
</body>
</html>