<!DOCTYPE html>
<html xmlns = "http://www.w3.org/1999/xhtml" xmlns:th = "http://www.thymeleaf.org"
      xmlns:sec = "http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <link href="/static/css/login.css" type="text/css" rel="stylesheet">
    <title>Administrator</title>
</head>
<body>
<h1> Welcome, Admin. </h1>
<br><input type="button" onclick="window.location.href = '/admin/view-requests';" value="View Requests"/>
<br><input type="button" onclick="window.location.href = '/admin/match-requests';" value="Process Requests"/>
<form th:action = "@{/logout}" method = "post">
    <input type = "submit" value = "Sign Out"/>
</form>
</body>

</html>