<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Donor Home</title>
    <link href="/css/login.css" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap" rel="stylesheet">
</head>
<script>
    function checkFields(){
        const item = document.forms["pledge"]["first"];
        const amount = document.forms["pledge"]["amount"];

        if (item.value === '' || amount.value === ''){
            alert("Required field missing!");
            return false;
        } else if (isNaN(amount.value) || amount.value <= 0){
            alert("Nat a valid amount!");
            return false;
        }

        return true;
    }
</script>
<body>
Enter pledge information:
<form th:name="pledge" th:method="post" th:object="${response}" th:onsubmit="return checkFields() && confirm('Are you sure you want to make this pledge?')">
    <label> Item: <input type="text" name="first" id="first" th:field="*{item}" th:required/> </label>
    <label> Amount: <input type="text" name="amount" id="amount" th:field="*{amount}" th:required/> </label>
    <br><input type="submit" value="Make Pledge"/>
</form>
</body>
</html>