<!DOCTYPE html>
<html xmlns = "http://www.w3.org/1999/xhtml"
      xmlns:th = "http://www.thymeleaf.org"
      xmlns:sec = "http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <link href="/css/login.css" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap" rel="stylesheet">
    <title>Home</title>
</head>
<body>
<h1>Welcome!</h1>
Disaster Relief - a platform for pledging and requesting resources in times of need.
<br><button type="button" onclick="window.location.href = '/admin';"> Administrator </button>
<br><button type="button" onclick="window.location.href = '/requester';"> Requester </button>
<br><button type="button" onclick="window.location.href = '/recipient';"> Recipient </button>
<br><button type="button" onclick="window.location.href = '/call-center-operator';"> Call Center Operator </button>
<br><button type="button" onclick="window.location.href = '/login';"> Login </button>
<br><button type="button" onclick="window.location.href = '/newuser';"> New User </button>
<!--<a th:href = "@{/login}">Login</a>-->
</body>

</html>