<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bad Credentials</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Varela+Round&display=swap">
</head>
<style>
    body{
        background-color: lightslategray;
        font-family: 'Varela', sans-serif;
        color: red;
        font-size: 40px;
    }
</style>
<body>
Bad login credentials!
<br><input type="button" onclick="window.location.href = '/login/login';" value="Login"/>
<br><input type="button" onclick="window.location.href = '/login/newuser';" value="Login"/>
</body>
</html>