<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Make A Request</title>
    <link href="/css/login.css" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap" rel="stylesheet">
</head>
<script>
    function checkFields(){
        const item = document.forms["request"]["item"];
        const amount = document.forms["request"]["amount"];
        const reason = document.forms["request"]["reason"];

        if (item.value === '' || amount.value === '' || reason.value === ''){
            alert("Required field missing!");
            return false;
        } else if (isNaN(amount.value) || amount.value <= 0){
            alert("Nat a valid amount!");
            return false;
        }

        return true;
    }
</script>
<body>
<form th:name = "request" th:object="${request_item}" th:method="post" th:onsubmit="return checkFields() && confirm('Are you sure you want to make this request?')">
    <label> Item: <input type="text" name="item" id="item" th:field="*{item}" th:required/> </label>
    <label> Amount: <input type="text" name="amount" id="amount" th:field="*{amount}" th:required/> </label>
    <label> Reason: <input type="text" name="reason" id="reason" th:field="*{reason}" th:required th:maxlength="30"/> </label>
    <br><input type="submit" value="Submit Request"/>
</form>
</body>
</html>