<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Match Success</title>
    <link href="/css/login.css" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap" rel="stylesheet">
</head>
<body>
<div>
    Your match request was successful!
    <br><button type="button" onclick="window.location.href = '/admin/process-requests';"> Process Requests </button>
    <br><button type="button" onclick="window.location.href = '/admin';"> Back To Admin Home </button>
</div>
</body>
</html>