<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pending Requests</title>
    <link href="/css/login.css" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap" rel="stylesheet">
</head>
<body>
<div>
<h2> Pending Requests </h2>
<table border="1", cellpadding="10">
    <tr>
        <th>ID</th>
        <th>Item</th>
        <th>Amount</th>
        <th>Reason</th>
    </tr>
    <tr th:each = "request: ${requests}">
        <td th:text="${request.getId()}"></td>
        <td th:text="${request.getItem()}"></td>
        <td th:text="${request.getAmount()}"></td>
        <td th:text="${request.getReason()}"></td>
    </tr>
</table>
<button type="button" onclick="window.location.href = '/recipient';"> Back To Home </button>
</div>

<form th:object="${delete_item}" th:method="post" id="req_id" onsubmit="return confirm('Are you sure you want to delete this request?');">
    <label> Item to Delete: <input type="text" name="req_id" placeholder="Request ID" th:required/> </label>
    <br><input type="submit" value="Submit Request"/>
</form>

</body>
</html>