<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipient Home</title>
    <link href="/css/login.css" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap" rel="stylesheet">
</head>
<body>
<div>
<h1> Welcome, Recipient. </h1>
<button type="button" onclick="window.location.href = '/recipient/request';"> Make A Request </button>
<button type="button" onclick="window.location.href = '/recipient/see-requests';"> Your Pending Requests </button>
<button type="button" onclick="window.location.href = '/';"> Home </button>
<button type="button" onclick="window.location.href = '/logout';"> Sign Out </button>
</div>
</body>
</html>