<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
    <link href="/css/login.css" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap" rel="stylesheet">
</head>
<body>
Thank you for submitting a request! Help is on the way soon.
<br><input type="button" onclick="window.location.href = '/recipient/request';" value="Submit Another Request"/>
<br><input type="button" onclick="window.location.href = '/recipient';" value="Recipient Home"/>
</body>
</html>