<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Pending Requests </h2>
<table border="1">
    <tr>
        <th>Requester</th>
        <th>Item</th>
        <th>Amount</th>
    </tr>
    <tr th:each = "request: ${requests}">
        <td th:text="${request.getRequester()}">vasile</td>
        <td th:text="${request.getItem()}">45</td>
        <td th:text="${request.getAmount()}">45</td>
    </tr>
</table>
</body>
</html>
