body {
    /*font-family: Helvetica, arial, sans-serif;*/
    font-size: 50px;
    line-height: 1.6;
    background-color: white;
    color: dodgerblue;
    padding: 30px;

    border-style: solid;
    border-width: 1px;
    border-color: dodgerblue;

    @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
    font-family: 'Raleway', sans-serif;
}
form{
    font-family: 'Varela', sans-serif;
    font-size: 26px;
    width: 100px;
    height: 100px;
}
button {
    height:30px;
    width:100px;
    border-radius: 5px;
    border-color: dodgerblue;
}
div {
    width: 100px;
    height: 50px;
    transition: width 0.5s;
}
div:hover{
    border-radius: 10px;
    width: 320px;
    background-color: lightgray;
    transition-timing-function: ease-out;
}
.container {
    width: 300px;
    clear: both;
}

.container input {
    width: 25%;
    clear: both;
}
div1 {
    width: 100px;
    height: 50px;
    transition: width 0.5s;
    overflow: hidden;
}
div1:hover{
    border-radius: 10px;
    width: 120px;
    background-color: lightgray;
    transition-timing-function: ease-out;
}