body{
    background-color: lightslategray;
    font-family: 'Varela', sans-serif;
    font-size: 40px;
}
form{
    font-family: 'Varela', sans-serif;
    font-size: 30px;
    width: 100px;
    height: 100px;
}
div {
    width: 100px;
    height: 50px;
    transition: width 0.5s;
}
div:hover{
    border-radius: 10px;
    width: 320px;
    background-color: darkgray;
    transition-timing-function: ease-out;
}
.container {
    width: 300px;
    clear: both;
}

.container input {
    width: 25%;
    clear: both;
}

div1 {
    font-size: 30px;
    width: 400px;
    height: 50px;
    transition: width 0.5s;
}
div1:hover{
    width: 420px;
    background-color: darkgray;
    transition-timing-function: ease-out;
    border-radius: 10px;
}